# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
dnn_env/

# IDE/system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Raw VISSIM files
data/raw_data/vissim_results/*
*.fzp
*.lsa

# Large processed/intermediate data
data/processed_data/*

# Do not upload saved model files
output/models/*
*.joblib
*.pkl
*.pickle